@media screen and (max-width: 768px) {
  .container-top-nav {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .topContainer {
    width: 95%;
    display: flex;
    justify-content: space-between;
  }
  .unordered-navigation-list {
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    overflow-x: scroll;
    flex-wrap: nowrap;
  }

  .list-items {
    display: inline-block;
    list-style-type: none;
    margin-right: 10px;

    font-size: 12px;
  }
  .background-image {
    background-image: url('https://res.cloudinary.com/dookgusbq/image/upload/v1711807355/Banner_jczbr1.svg');
    height: 50vh;
    background-size: cover;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .heading {
    color: #ffffff;
    font-size: 22px;
    width: 80%;
    text-align: center;
  }
  .decription {
    width: 80%;
    text-align: center;
  }
  .recomended-shows {
    display: flex;
    width: 85%;
    justify-content: space-between;
  }
  .recomemded-list-slide {
    display: flex;

    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    width: 85%;
  }
  .more-events-style {
    display: flex;
    align-items: center;
    width: 70%;
  }
  .arrow {
    margin-left: 10px;
  }
  .more-events-container {
    display: flex;
    width: 85%;
    justify-content: space-between;
    padding-left: 10%;
  }
}
